.dailyBudget {
  color: var(--primary-highlight);
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 39px;
  line-height: 125%;
  margin: 0;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVDADE */

@media (max-width: 400px) {
  .dailyBudget {
    font-size: 28px;
  }
}
