.aside {
  flex: 0 0 282px;
  max-width: 282px;
  background-color: var(--neutral-header);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
  gap: 56px;
}

.footer {
  font-size: 13px;
  line-height: 120%;
  text-align: center;
}

/* RESPONSIVIDADE */

@media (max-width: 860px) {
  .aside {
    max-width: 180px;
  }

  .aside img {
    max-width: 160px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .aside {
    align-items: center;
    flex: 0 0 auto;
    max-width: 100%;
    min-height: auto;
    padding: 32px 24px;
    gap: 24px;
  }

  .aside img {
    max-width: 160px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .aside {
    padding: 24px 16px;
    gap: 16px;
    align-items: center;
  }

  .aside img {
    max-width: 130px;
  }
}
